html, body {
	background: "black";
	font-family: 'Courier New', Courier, monospace;
	color: orang;
	font-size: 14px;
}

canvas {
	display: block;
	margin: 0 auto;
	background: #222222;
	margin-top: 10px;
}